async-generator
attrs
certifi
cffi
charset-normalizer
colorama
cryptography
h11
idna
outcome
pip
pycparser
pyOpenSSL
PySocks
python-dotenv
requests
selenium
setuptools
sniffio
sortedcontainers
tqdm
trio
trio-websocket
urllib3
webdriver-manager
wsproto